/* ***컨테이너*** */
#container {
  left:0;
  top:0;
  background-color: #0f1216;
}




/* ***랜턴(등)*** */
#lantern {
  width:100%;
  height:100%;
  background: url(../img/bg/lantern1.png) no-repeat 50% 50% / cover;
  background-size: cover;
  z-index: 10;
  transition: .5s;
  opacity: 0;
  pointer-events: none;
}




/* ***배경*** */
#bg {
  width:100%;
  height:100%;
  background: url(../img/bg/event_blank3.png) no-repeat 50% 50% / cover;
  background-size: cover;
  left:0;
  top:0;
  z-index: 1;
}




/* ***사이드메뉴*** */
#side-menu {
  z-index: 99;
  width:max-content;
  height:30rem;
  transform: translateY(3rem);
  margin:2rem 0 0 3.625rem;
  left:0;
  top:0;
}
#side-menu li {
  height:2.75rem;
}
#side-menu li a {
  height:100%;
  line-height: 2.75rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size:1.375rem;
  letter-spacing: -0.025rem;
  text-decoration: none;
}




/* ***영화 정보*** */
#film {
  left:0;
  top: 0;
  width:100%;
  height:100%;
  background: rgba(3, 26, 39, 0.3);
  padding:2rem 2rem 6rem;
  transition: .5s;
  opacity: 0;
  z-index: 0;
}
/* 포스터 */
#poster {
  width:23.625rem;
  border-radius: .8rem;
}
#poster img {
  height:100%;
  min-width: 7.375rem;
}
/* 인포 */
#info {
  width:max-content;
  margin-left:1.75rem;
}
#info ul {
  list-style-type: none;
}
#info ul li {
  white-space: nowrap;
}
#info ul li ~ li {
  margin-top:1rem;
}
#info span {
  display: inline-block;
  width:5.75rem;
  text-align: end;
  letter-spacing: -0.025em;
  color: rgba(249, 255, 254, 0.6);
  font-weight: 300;
}
#info strong {
  width:max-content;
  margin-left:3rem;
  letter-spacing: -0.025em;
  color: #F9FFFE;
  font-weight: 300;
}




/* ***슬라이드(배경화면)*** */
#slide {
  width:62.5rem;
  height:50rem;
  left:50%;
  top:50%;
  transform: translate(-40.5%, -50%);
  z-index: 2;
}
/* ul */
#slide-ul {
  left:0;
  top:0;
}
/* li */
#slide-ul li {
  width:62.5rem;
}
/* 배너 */
.banner {
  margin-top: 7.625rem;
}
.banner img {
  width:80%;
}
/* 텍스트 */
.slide-text * {
  line-height: 1.6;
  letter-spacing: -.025em;
  width:80%;
}
/* 타이틀 */
.slide-title {
  margin: 1.4rem 0 1rem;
  font-size:2.5rem;
  font-weight: 500;
  color:rgba(250, 250, 250, .98);
}
/* 일정, 장소 */
.date, .place {
  font-size:1.125rem;
  font-weight: 300;
  color:rgba(250, 250, 250, .8);
}
/* 설명 */
.explain {
  margin-top:2rem;
  font-size:.875rem;
  font-weight: 200;
  color:rgba(250, 250, 250, .6);
}
/* 버튼 */
.button span {
  width:8.75rem;
  height:1.875rem;
  border-radius: 15px;
  background-color: rgba(250, 250, 250, .6);
  cursor: pointer;
  margin-top:4rem;
  transition: .5s;
  letter-spacing: -.025em;
  color:#0f1216;
}
.button span:hover  {
  background-color: rgba(250, 250, 250, 1);
}




/* ***컨트롤(페이저)*** */
#controls{
  bottom:3rem;
  left:50%;
  transform: translateX(-4.5%);
  width:10rem;
  height:1.6rem;
  transition: .3s;
  padding:.8rem 1.6rem;
  border-radius: 2rem;
  z-index: 98;
  color: rgba(249, 255, 254, .6);
}
/* 페이저 호버 */
#controls:hover {
  background: rgba(249, 255, 254, .16);
  backdrop-filter: blur(6px);
}
/* 이전, 다음 아이콘 크기 */
#prev, #next {
  width:2rem;
  transform:translateY(-.125rem);
  cursor: pointer;
}
#prev img, #next img {
  width:100%;
}
/* 현재 위치값 폰트컬러 */
#cur-pos {
  color: rgba(249, 255, 254, 1);
}




/* ***페이드인*** */
#movie-bg {
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #101010;
  z-index: 102;
}




/* ***라이트(불빛)*** */
#light {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0,0,0,.97) 20%);
  z-index: 0;
  opacity: 0;
  pointer-events: none;
}




/* ***미디어쿼리*** */
@media screen and (max-width:1200px) {
  /* 슬라이드 */
  #slide {
    width:61rem;
  }
  #slide-ul li {
    width:61rem;
  }
  /* 배너 */
  .banner {
    margin-top: 10rem;
  }
  /* 배너이미지 */
  .banner img {
    width:70%;
  }
}

@media screen and (max-width:1024px) {
  /* 슬라이드 */
  #slide {
    width:50rem;
  }
  #slide-ul li {
    width:50rem;
  }
  /* 배너 */
  .banner {
    margin-top: 10rem;
  }
  /* 배너이미지 */
  .banner img {
    width:70%;
  }
  /* 사이드메뉴 */
  #side-menu li {
    height:2rem;
  }
  #side-menu li a {
    font-size:1.2rem;
  }
  /* 슬라이드 제목 */
  .slide-title {
    font-size:2rem;
  }
  /* 컨트롤(페이저) */
  #controls{
    transform: translateX(-15%);
  }
}

@media screen and (max-width:768px) {
  /* 슬라이드 */
  #slide {
    width:40rem;
  }
  #slide-ul li {
    width:40rem;
  }
  /* 배너 */
  .banner {
    margin-top: 10rem;
  }
  /* 배너이미지 */
  .banner img {
    width:70%;
  }
  /* 사이드메뉴 */
  #side-menu {
    transform: translateY(6rem);
  }
  #side-menu li a {
    font-size:1rem;
  }
  /* 슬라이드 제목 */
  .slide-title {
    font-size:1.625rem;
  }
  /* 일정, 장소 */
  .date, .place {
    font-size:1rem;
  }
  /* 설명 */
  .explain {
    margin-top:2rem;
    font-size:.875rem;
    font-weight: 200;
    color:rgba(250, 250, 250, .6);
  }
  .button span {
    width: 5.625rem;
    height: 1.625rem;
    font-size:.875rem;
  }
  /* 컨트롤(페이저) */
  #controls{
    transform: translateX(-22%);
  }
  
}