/* ***컨테이너*** */
#container {
  background-color: #0f1216;
}




/* ***랜턴(등)*** */
#lantern {
  width:100%;
  height:100%;
  background: url(../img/bg/lantern.png) no-repeat 50% 50% / cover;
  background-size: cover;
  z-index: 10;
  transition: .5s;
  opacity: 0;
  pointer-events: none;
  left:0;
  top:0;
}




/* ***배경*** */
#bg {
  width:100%;
  height:100%;
  background: url(../img/bg/event_blank.png) no-repeat 50% 50% / cover;
  background-size: cover;
  left:0;
  top:0;
  z-index: 1;
}




/* ***사이드메뉴*** */
#side-menu {
  z-index: 99;
  width:max-content;
  height:30rem;
  transform: translateY(40%);
  left:3.625rem;
  top:2rem;
}
#side-menu li {
  height:2.75rem;
}
#side-menu li a {
  height:100%;
  line-height: 2.75rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size:1.375rem;
  letter-spacing: -0.025rem;
  text-decoration: none;
}




/* ***슬라이드(배경화면)*** */
#slide {
  width:58rem;
  height:55%;
  left:50%;
  top:50%;
  transform: translate(-39%, -46%);
  z-index: 2;
}
/* ul */
#slide ul {
  left:0;
  top:0;
  height:100%;
}
/* li */
#slide li {
  width:58rem;
}
/* 배너 이미지 */
.banner img {
  width:70%;
}
/* 텍스트 */
.slide-text * {
  line-height: 1.6;
  letter-spacing: -.025em;
  width:74%;
}
/* 타이틀 */
.slide-title {
  margin-bottom:1rem;
  font-size:2.25rem;
  font-weight: 500;
  color:rgba(250, 250, 250, .98);
}
/* 일정, 장소 */
.date, .place {
  font-size:1.125rem;
  font-weight: 300;
  color:rgba(250, 250, 250, .8);
}
/* 설명 */
.explain {
  margin-top:1rem;
  font-size:.875rem;
  font-weight: 200;
  color:rgba(250, 250, 250, .6);
}
/* 버튼 */
.button span {
  width:7rem;
  height:1.875rem;
  line-height:1.875rem;
  border-radius: 15px;
  background-color: rgba(250, 250, 250, .6);
  cursor: pointer;
  transition: .5s;
  letter-spacing: -.025em;
  color:#0f1216;
}
.button span:hover  {
  background-color: rgba(250, 250, 250, 1);
}




/* ***컨트롤(페이저)*** */
#controls{
  bottom:3rem;
  left:50%;
  width:10rem;
  height:max-content;
  transition: .3s;
  padding:.8rem 1.6rem;
  border-radius: 2rem;
  z-index: 98;
  color: rgba(249, 255, 254, .6);
}
/* 페이저 호버 */
#controls:hover {
  background: rgba(249, 255, 254, .16);
  backdrop-filter: blur(6px);
}
/* 이전, 다음 아이콘 크기 */
#prev, #next {
  width:2rem;
  transform:translateY(-.125rem);
  cursor: pointer;
}
#prev img, #next img {
  width:100%;
}
/* 현재 위치값 */
#cur-pos {
  color: rgba(249, 255, 254, 1);
}




/* ***페이드인*** */
#movie-bg {
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #101010;
  z-index: 102;
  pointer-events: none;
}




/* ***라이트(불빛)*** */
#light {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0,0,0,.97) 20%);
  z-index: 0;
  opacity: 0;
  pointer-events: none;
}




/* ***미디어쿼리*** */
@media screen and (max-width:1440px) {
  /* 슬라이드 */
  #slide {
    width:50rem;
  }
  /* 슬라이드 li */
  #slide li {
    width:50rem;
  }
  /* 슬라이드 타이틀 */
  .slide-title {
    font-size: 2.25rem;
  }
  /* 컨트롤러 */
  #controls {
    width: 8rem;
    padding: 0.4rem 1rem;
  }
  /* 이전, 다음 버튼 이미지 */
  #prev img, #next img {
    width:90%;
  }
  /* 현재 위치값, 총 슬라이드수 */
  #cur-pos, #total-page {
    font-size: .875rem;
  }
}


@media screen and (max-width:1024px) {
  /* 슬라이드 */
  #slide {
    width:40rem;
  }
  /* 슬라이드 li */
  #slide li {
    width:40rem;
  }
  /* 배너이미지 */
  .banner img {
    width:70%;
  }
  /* 사이드메뉴 */
  #side-menu li {
    height:2rem;
  }
  /* 사이드메뉴 폰트 */
  #side-menu li a {
    font-size:1.2rem;
  }
  /* 슬라이드 제목 */
  .slide-title {
    font-size:2rem;
  }
}


@media screen and (max-width:768px) {
  /* 슬라이드 */
  #slide {
    width:80vw;
    height:50%;
    transform: translate(-50%, -40%);
  }
  /* 슬라이드 li */
  #slide ul li {
    width:80vw;
  }
  /* 배너이미지 */
  .banner img {
    width:100%;
  }
  /* 사이드메뉴 */
  #side-menu {
    transform: translate(-50%,-50%);
    height: max-content;
    left: 50%;
    top: 24%;
    margin:0;
  }
  /* 사이드메뉴 ul */
  #side-menu ul {
    display: flex;
  }
  #side-menu li {
    margin: 0 1rem;
  }
  /* 슬라이드 내 글씨 영역 */
  .slide-text * {
    width: 100%;
  }
  /* 슬라이드 제목 */
  .slide-title {
    font-size:1.625rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* 일정, 장소 */
  .date, .place {
    font-size:1rem;
    font-weight: 300;
  }
  /* 설명 */
  .explain {
    font-size:1rem;
  }
  /* 버튼 */
  .button span {
    width: 5.625rem;
    height: 1.625rem;
    line-height: 1.625rem;
    font-size:1rem;
  }
  /* 컨트롤러 */
  #controls {
    transform: translateX(-50%);
  }
  /* 이전, 다음 버튼 이미지 */
  #prev img, #next img {
    width:80%;
  }
}


@media screen and (max-width:480px) {
  /* 배너이미지 */
  .banner img {
    width:70%;
  }
  /* 사이드메뉴 폰트 크기 */
  #side-menu li a {
    font-size: .875rem;
  }
  /* 슬라이드 제목 */
  .slide-title {
    font-size:1.25rem;
  }
  /* 일정, 장소 */
  .date, .place {
    font-size:.875rem;
  }
  /* 설명 */
  .explain {
    font-size:.75rem;
  }
  /* 버튼 */
  .button span {
    width: 5rem;
    height: 1.375rem;
    line-height: 1.375rem;
    font-size: .75rem;
  }
}