/* ***컨테이너*** */
#container {
  left:0;
  top:0;
  background-color: #0f1216;
}




/* ***랜턴이미지*** */
#lantern {
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: url(../img/bg/lantern.png) 100% 100% no-repeat;
  background-size: cover;
  z-index: 2;
  transition: .5s;
  opacity: 0;
}




/* ***배경이미지*** */
#bg {
  width:100%;
  height:100%;
  background: url(../img/bg/event_blank3.png) 100% 100% no-repeat;
  background-size: cover;
  left:0;
  top:0;
  z-index: 1;
}




/* ***사이드메뉴*** */
#side-menu {
  z-index: 99;
  width:max-content;
  height:30rem;
  transform: translateY(3rem);
  margin-left:3.625rem;
  margin-top:2rem;
}
#side-menu a {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size:1.375rem;
  letter-spacing: -0.025rem;
  text-decoration: none;
}
#side-menu li {
  height:2.75rem;
}
#side-menu li a {
  height:100%;
  line-height: 2.75rem;
}




/* ***영화정보*** */
#film {
  left:0;
  top: 0;
  width:100%;
  height:100%;
  background: rgba(3, 26, 39, 0.88);
  padding:2rem 2rem 6rem;
  transition: .5s;
  opacity: 0;
  z-index: 0;
}
#poster {
  width:23.625rem;
  border-radius: .8rem;
}
#poster img {
  height:100%;
  min-width: 7.375rem;
}
#info {
  width:max-content;
  margin-left:1.75rem;
}
#info ul {
  list-style-type: none;
}
#info ul li {
  white-space: nowrap;
}
#info ul li ~ li {
  margin-top:1rem;
}
#info span {
  display: inline-block;
  width:5.75rem;
  text-align: end;
  letter-spacing: -0.025em;
  color: rgba(249, 255, 254, 0.6);
  font-weight: 300;
}
#info strong {
  width:max-content;
  margin-left:3rem;
  letter-spacing: -0.025em;
  color: #F9FFFE;
  font-weight: 300;
}




/* ***슬라이드(배경화면)*** */
#slide {
  width:1000px;
  height:800px;
  left:26rem;
  top:50%;
  transform: translate(9rem, -50%);
  z-index: 2;
}
/* ul */
#slide-ul {
  width:100%;
  height:100%;
  box-sizing: border-box;
  padding-right: 1rem;
}
/* li */
.slide-li {
  width:100%;
  height:100%;
}
/* 배너 */
.banner {
  margin-top: 7.625rem;
}
.banner img {
  filter: grayscale(0%);
  width:80%;
}
/* 텍스트 */
.slide-text * {
  text-align: end;
  line-height: 1.6;
  letter-spacing: -.025em;
  width:80%;
}
/* 타이틀 */
.slide-title {
  margin: 1.4rem 0 1rem;
  font-size:2.5rem;
  font-weight: 500;
  color:rgba(250, 250, 250, .98);
}
/* 일정, 장소 */
.date, .place {
  font-size:1.125rem;
  font-weight: 300;
  color:rgba(250, 250, 250, .8);
}
/* 설명 */
.explain {
  margin-top:2rem;
  font-size:.875rem;
  font-weight: 200;
  color:rgba(250, 250, 250, .6);
}
/* 버튼 */
.button {
  width:140px;
  height:30px;
  border-radius: 15px;
  background-color: rgba(250, 250, 250, .6);
  cursor: pointer;
  letter-spacing: -.025em;
  text-align: center;
  float: right;
  margin-top:4rem;
  transition: .5s;
}
.button:hover {
  background-color: rgba(250, 250, 250, 1);
}




/* ***컨트롤(페이저)*** */
#controls{
  bottom:3rem;
  left:53%;
  transform: translateX(-50%);
  width:10rem;
  height:1.6rem;
  transition: .3s;
  padding:.8rem 1.6rem;
  border-radius: 2rem;
  z-index: 98;
  color: rgba(249, 255, 254, .6);
}
/* 페이저 호버 */
#controls:hover {
  background: rgba(249, 255, 254, .16);
  backdrop-filter: blur(6px);
}
/* 이전, 다음 아이콘 크기 */
#prev, #next {
  width:2rem;
  transform:translateY(-.125rem);
  cursor: pointer;
}
#prev img, #next img {
  width:100%;
}
/* 현재 위치값 폰트컬러 */
#cur-pos {
  color: rgba(249, 255, 254, 1);
}




/* ***페이드인*** */
#movie-bg {
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #101010;
  z-index: 100;
}