/* ***메인섹션*** */
#container {
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 3;
}
main {
  width:100%;
  height:100%;
}
/* 포스터 */
#film {
  width:100%;
  height:100%;
}
#poster-wrap {
  width:100%;
  height:100%;
}
.poster {
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.poster:nth-child(1) .img-wrap {
  width:100%;
  height:100%;
  background: url(../img/bg/film_haul.png) no-repeat 50% 50% / cover;
}
/* .poster:nth-child(2) .img-wrap {
  width:100%;
  height:100%;
  background: url(../img/bg/film_arie.png) no-repeat 50% 50% / cover;
} */




/* ***컨트롤(페이저)*** */
#controls{
  bottom:3rem;
  left:53%;
  transform: translateX(-50%);
  width:10rem;
  height:1.6rem;
  transition: .3s;
  padding:.8rem 1.6rem;
  border-radius: 2rem;
  z-index: 98;
  color: rgba(249, 255, 254, .6);
}
/* 페이저 호버 */
#controls:hover {
  background: rgba(249, 255, 254, .16);
  backdrop-filter: blur(6px);
}
/* 이전, 다음 아이콘 크기 */
#prev, #next {
  width:2rem;
  transform:translateY(-.125rem);
  cursor: pointer;
}
#prev img, #next img {
  width:100%;
}
/* 현재 위치값 폰트컬러 */
#cur-pos {
  color: rgba(249, 255, 254, 1);
}




/* ***페이드인*** */
#movie-bg {
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #101010;
  z-index: 100;
}




/* ***배경*** */
#bg {
  width:100%;
  height:100%;
  left:0;
  top:0;
}
#bg-light {
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index: 10;
  background: url(../img/bg/film_light.png) no-repeat 50% 50% / cover;
  pointer-events: none;
}
#bg-mirror {
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index: 5;
  background: url(../img/bg/film_mirror.png) no-repeat 50% 50%  / cover;
  pointer-events: none;
}
#bg-over {
  width:100%;
  height:100%;
  left:0;
  bottom:0;
  z-index: 4;
  background: url(../img/bg/film_over.png) no-repeat 50% 50%  / cover ;
  pointer-events: none;
}
#bg-under {
  width:100%;
  height:100%;
  left:0;
  top:0;
  background: url(../img/bg/film_bg.png) no-repeat 50% 50%  / cover ;
  pointer-events: none;
}



/* ***미디어쿼리*** */

