body {
  background: url(../img/gallery/howl050.jpg) no-repeat 50% 50% / cover;
}




/* ***사이드메뉴 */
#side-menu {
  z-index: 99;
  width:max-content;
  height:30rem;
  transform: translateY(3rem);
  margin-left:3.625rem;
  margin-top:2rem;
}
/* 사이드메뉴 li */
#side-menu li {
  height:2.75rem;
}
/* 사이드메뉴 폰트 */
#side-menu li a {
  height:100%;
  line-height: 2.75rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size:1.375rem;
  letter-spacing: -0.025rem;
  text-decoration: none;
}




/* ***영화정보 */
#film {
  left:0;
  top: 0;
  width:100%;
  height:100%;
  transition: .5s;
  opacity: 0;
  box-sizing: border-box;
}
/* 포스터 박스 */
#poster {
  width:40%;
}
/* 포스터 이미지 */
#poster img {
  width:100%;
}
/* 인포 박스 */
#info {
  width:max-content;
  margin-left:1.75rem;
}
/* 인포 ul */
#info ul {
  list-style-type: none;
}
/* 인포 li */
#info ul li {
  white-space: nowrap;
}
/* 인포 상하간격 */
#info ul li ~ li {
  margin-top:1rem;
}
/* 인포 왼쪽글씨영역 */
#info span {
  display: inline-block;
  width:5.75rem;
  text-align: end;
  letter-spacing: -0.025em;
  color: rgba(249, 255, 254, 0.6);
  font-weight: 300;
}
/* 인포 오른쪽글씨영역 */
#info strong {
  width:max-content;
  margin-left:3rem;
  letter-spacing: -0.025em;
  color: #F9FFFE;
  font-weight: 300;
}




/* ***갤러리 */
#gallery {
  width:100vw;
  height:100vh;
  left:0;
  top:0;
  transition: .3s;
}
/* 타이틀 영역 */
#title {
  margin-bottom:2%;
}
/* 타이틀 폰트 */
#title strong {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: -0.025rem;
  color: #F9FFFE;
  line-height: 1;
}
/* 타이틀 닫기버튼 */
#close a {
  width:100%;
  margin-left:1rem;
  transform: translateY(.2rem);
}
/* 콘텐츠 영역 */
#gallery-content {
  width:64%;
  height:67%;
  transform: translateX(8%);
}
/* 슬라이드 영역 */
#slide {
  width:100%;
  height:100%;
}
/* 왼쪽 영역 */
#left {
  width:81.3802%;
  height:100%;
}
/* 뷰 영역 */
#view {
  width:100%;
  height:90%;
}
/* 뷰 이미지 */
#view img {
  width:100%;
}
/* 페이저 */
#pager {
  margin-top:1rem;
}
/* 페이저 자식들 */
#pager > * {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 300;
  color: #F9FFFE;
  padding:.1rem;
}
/* 페이저 /,총페이지수 */
#pager span, #pager p {
  color: rgba(249, 255, 254, .6);
}
/* 오른쪽, 휠아이콘 영역 */
#right {
  flex:1;
  margin-left: 3.2552%;
}
/* 썸네일 영역 */
#thumbnail {
  width:100%;
  height:82.5%;
}
#thumb-hidden {
  height:93%;
}
/* 썸네일 이미지 */
#thumbnail img {
  width:100%;
  cursor: pointer;
  border: 4px solid transparent;
  box-sizing: border-box;
}
/* 썸네일 이미지 상하간격 */
#thumbnail div img ~ img {
  margin-top: 10%;
}
/* 휠 이미지 - 애니메이션 적용 */
#wheel img {
  animation: wheeldown .5s infinite alternate;
}
@keyframes wheeldown {
  0% {}
  100% {
    transform: translateY(.5rem);
  }
}





/* ***페이드인 */
#movie-bg {
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #101010;
  z-index: 102;
  pointer-events: none;
}



/* ***백드랍필터 블러 배경 */
#blur-bg {
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: rgba(6, 22, 36, 0.9);
  backdrop-filter: blur(3px);
  z-index: -1;
}




/* ***미디어쿼리 */
@media screen and (max-width:1440px) {
  /* 영화 타이틀 */
  #title strong {
    font-size: 1.375rem;
  }
  /* 콘텐츠 영역 */
  #gallery-content {
    height: 53%;
  }
}

@media screen and (max-width:1024px) {
  /* 사이드메뉴 */
  #side-menu li {
    height:2rem;
  }
  /* 사이드메뉴 폰트 */
  #side-menu li a {
    font-size:1.2rem;
  }
  /* 인포 */
  #info {
    margin-left:.5rem;
  }
  /* 포스터 */
  #poster {
    width: 24%;
  }
  /* 인포 폰트 */
  #info span, #info strong {
    font-size: .875rem;
  }
  /* 인포 상하간격 */
  #info ul li ~ li {
    margin-top:.875rem;
  }
  /* 인포 오른쪽영역 */
  #info strong {
    margin-left: 1.5rem;
  }
  /* 콘텐츠 영역 */
  #gallery-content {
    height: 46%;
  }
  /* 페이저 글자크기 */
  #pager > * {
    font-size:.875rem;
  }
  /* 휠 이미지 */
  #wheel img {
    width: 2rem;
  }
}



@media screen and (max-width:768px) {
  /* 타이틀 닫기버튼 */
  #close a {
    width:100%;
    margin-left:1rem;
    transform: translateY(.2rem);
  }
  /* 사이드메뉴 */
  #side-menu {
    transform: translate(-50%,-50%);
    height: max-content;
    left: 50%;
    top: 10%;
    margin:0;
  }
  /* 사이드메뉴 ul */
  #side-menu ul {
    display: flex;
  }
  /* 사이드메뉴 li */
  #side-menu li {
    margin: 0 1rem;
  }
  /* 인포 포스터 */
  #poster {
    display: none;
  }
  /* 인포 콘텐츠영역 */
  #film-content {
    transform: translateY(15%);
  }
  /* 인포 상하간격 */
  #info ul li ~ li {
    margin-top:.5rem;
  }
  /* 인포 폰트 */
  #info span, #info strong {
    font-size: .75rem;
  }
  /* 인포 왼쪽글씨영역 */
  #info span {
    width: 3.75rem;
  }
  /* 갤러리 섹션 */
  #gallery {
    transform: translateY(5%);
  }
  /* 슬라이드 영역 */
  #slide {
    flex-direction: column;
  }
  /* 콘텐츠 영역 */
  #gallery-content {
    width:82%;
    height: 50%;
    transform: translateX(0);
  }
  /* 왼쪽 영역 */
  #left {
    width:100%;
    height: 80%;
  }
  /* 오른쪽 영역 */
  #right {
    margin:0;
    display: flex;
    flex:none;
  }
  /* 썸네일영역 */
  #thumbnail {
    height:100%;
  }
  #thumb-hidden {
    height:100%;
  }
  /* 썸네일영역 가로플렉스로 바꿈 */
  #thumb-hidden div {
    flex-direction: row;
  }
  /* 썸네일 마진탑 삭제, 마진 레프트 추가 */
  #thumbnail div img ~ img {
    margin-top: 0;
    margin-left: 1rem;
  }
  /* 썸네일 이미지 크기 */
  #thumbnail img {
    width: 26%;
  }
  /* 휠 영역 안 보이게 */
  #wheel {
    display: none;
  }
}


@media screen and (max-width:480px) {
  /* 사이드메뉴 폰트 크기 */
  #side-menu li a {
    font-size: .875rem;
  }
  /* 타이틀 폰트 */
  #title strong {
    font-size: 1rem;
  }
  /* 콘텐츠 영역 */
  #gallery-content {
    height: 43%;
  }
  /* 썸네일 이미지 */
  #thumbnail img {
    border: 2px solid transparent;
  }
  /* 페이저 글자크기 */
  #pager > * {
    font-size:.75rem;
  }
}