/* ***타이틀*** */
#title {
  margin-left:3rem;
}
#title strong {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: -0.025rem;
  color: #F9FFFE;
  line-height: 1;
}
#close a {
  width:100%;
  margin-left:1rem;
  transform: translateY(.2rem);
}




/* ***사이드메뉴*** */
#side-menu {
  z-index: 99;
  width:max-content;
  height:30rem;
  transform: translateY(3rem);
  margin-left:3.625rem;
  margin-top:2rem;
}
#side-menu li {
  height:2.75rem;
}
#side-menu li a {
  height:100%;
  line-height: 2.75rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size:1.375rem;
  letter-spacing: -0.025rem;
  text-decoration: none;
}




/* ***영화정보*** */
#film {
  left:0;
  top: 0;
  width:100%;
  height:100%;
  background: rgba(3, 26, 39, 0.88);
  backdrop-filter: blur(3px);
  transition: .5s;
  opacity: 0;
  box-sizing: border-box;
}
#poster {
  width:40%;
}
#poster img {
  width:100%;
}
#info {
  width:max-content;
  margin-left:1.75rem;
}
#info ul {
  list-style-type: none;
}
#info ul li {
  white-space: nowrap;
}
#info ul li ~ li {
  margin-top:1rem;
}
#info span {
  display: inline-block;
  width:5.75rem;
  text-align: end;
  letter-spacing: -0.025em;
  color: rgba(249, 255, 254, 0.6);
  font-weight: 300;
}
#info strong {
  width:max-content;
  margin-left:3rem;
  letter-spacing: -0.025em;
  color: #F9FFFE;
  font-weight: 300;
}




/* ***슬라이드(배경화면)*** */
#slide {
  width:100vw;
  height:100vh;
  left:0;
  top:0;
  z-index: -1;
}
#slide ul li {
  width:100vw;
}
#slide ul li img {
  height:104%;
}




/* ***컨트롤(페이저)*** */
#controls{
  bottom:3rem;
  left:50%;
  transform: translateX(-50%);
  width:10rem;
  height:1.6rem;
  padding:.8rem 1.6rem;
  border-radius: 2rem;
  z-index: 1;
  color: rgba(249, 255, 254, .6);
  transition: .3s;
}
/* 페이저 호버 */
#controls:hover {
  background: rgba(249, 255, 254, .16);
  backdrop-filter: blur(6px);
}
/* 이전, 다음 아이콘 크기 */
#prev, #next {
  width:2rem;
  transform:translateY(-.125rem);
  cursor: pointer;
}
#prev img, #next img {
  width:100%;
}
/* 현재 위치값 폰트컬러 */
#cur-pos {
  color: rgba(249, 255, 254, 1);
}




/* ***페이드인*** */
#movie-bg {
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #101010;
  z-index: 102;
  pointer-events: none;
}




/* ***미디어쿼리*** */
@media screen and (max-width:1440px) {
  /* 영화 타이틀 */
  #title strong {
    font-size: 1.375rem;
  }
  /* 포스터 */
  #poster {
    width:30%;
  }
}

@media screen and (max-width:1024px) {
}

@media screen and (max-width:768px) {
  /* 사이드메뉴 */
  #side-menu {
    transform: translateY(6rem);
  }
  #side-menu li a {
    font-size:1rem;
  }
  .button span {
    width: 5.625rem;
    height: 1.625rem;
    font-size:.875rem;
  }  
}

/* 배경사이즈 미디어쿼리 */
@media screen and (max-aspect-ratio: 1920/1080) {
  #slide ul li img {
      width: auto;
      height: 100vh;
  }
}