body {
  background: url(../img/gallery/howl043.jpg) no-repeat 50% 50% / cover;
}

/* ***타이틀*** */
#title {
  margin-left:3rem;
}
/* 타이틀 폰트 */
#title strong {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: -0.025rem;
  color: #F9FFFE;
  line-height: 1;
}
/* 타이틀 닫기버튼 */
#close a {
  width:100%;
  margin-left:1rem;
  transform: translateY(.2rem);
}




/* ***사이드메뉴*** */
#side-menu {
  z-index: 99;
  width:max-content;
  height:30rem;
  transform: translateY(3rem);
  margin-left:3.625rem;
  margin-top:2rem;
}
/* 사이드메뉴 li */
#side-menu li {
  height:2.75rem;
}
/* 사이드메뉴 폰트 */
#side-menu li a {
  height:100%;
  line-height: 2.75rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size:1.375rem;
  letter-spacing: -0.025rem;
  text-decoration: none;
}




/* ***영화정보*** */
#film {
  left:0;
  top: 0;
  width:100%;
  height:100%;
  background: rgba(3, 26, 39, 0.88);
  backdrop-filter: blur(3px);
  transition: .5s;
  opacity: 0;
  box-sizing: border-box;
}
/* 포스터 박스 */
#poster {
  width:40%;
}
/* 포스터 이미지 */
#poster img {
  width:100%;
}
/* 인포 박스 */
#info {
  width:max-content;
  margin-left:1.75rem;
}
/* 인포 ul */
#info ul {
  list-style-type: none;
}
/* 인포 li */
#info ul li {
  white-space: nowrap;
}
/* 인포 상하간격 */
#info ul li ~ li {
  margin-top:1rem;
}
/* 인포 왼쪽글씨영역 */
#info span {
  display: inline-block;
  width:5.75rem;
  text-align: end;
  letter-spacing: -0.025em;
  color: rgba(249, 255, 254, 0.6);
  font-weight: 300;
}
/* 인포 오른쪽글씨영역 */
#info strong {
  width:max-content;
  margin-left:3rem;
  letter-spacing: -0.025em;
  color: #F9FFFE;
  font-weight: 300;
}




/* ***슬라이드(배경화면) */
#slide {
  width:100vw;
  height:100vh;
  left:0;
  top:0;
  z-index: -1;
  background: rgba(3, 26, 39, 0.5);
  backdrop-filter: blur(5px);
}
/* 슬라이드 li */
#slide ul li {
  width:100vw;
}
/* 슬라이드 이미지 */
#slide ul li img {
  width:100%;
}



/* ***컨트롤(페이저)*** */
#controls{
  bottom:3rem;
  left:50%;
  transform: translateX(-50%);
  width:10rem;
  height:1.6rem;
  padding:.8rem 1.6rem;
  border-radius: 2rem;
  z-index: 1;
  color: rgba(249, 255, 254, .6);
  transition: .3s;
}
/* 페이저 호버 */
#controls:hover {
  background: rgba(249, 255, 254, .16);
  backdrop-filter: blur(6px);
}
/* 이전, 다음 버튼 크기 */
#prev, #next {
  width:2rem;
  transform:translateY(-.125rem);
  cursor: pointer;
}
/* 이전, 다음 버튼 이미지 */
#prev img, #next img {
  width:100%;
}
/* 현재 위치값 폰트컬러 */
#cur-pos {
  color: rgba(249, 255, 254, 1);
}




/* ***페이드인*** */
#movie-bg {
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #101010;
  z-index: 102;
  pointer-events: none;
}




/* ***미디어쿼리*** */
@media screen and (max-width:1440px) {
  /* 영화 타이틀 */
  #title strong {
    font-size: 1.375rem;
  }
  /* 슬라이드 li */
  #slide ul li {
    width:60vw;
    padding:0 20vw;
  }
  /* 포스터 */
  #poster {
    width:30%;
  }
  /* 컨트롤러 */
  #controls {
    width: 8rem;
    padding: 0.4rem 1rem;
  }
  /* 이전, 다음 버튼 이미지 */
  #prev img, #next img {
    width:90%;
  }
  /* 현재 위치값, 총 슬라이드수 */
  #cur-pos, #total-page {
    font-size: .875rem;
  }
}

@media screen and (max-width:1024px) {
  /* 사이드메뉴 */
  #side-menu li {
    height:2rem;
  }
  /* 사이드메뉴 폰트 */
  #side-menu li a {
    font-size:1.2rem;
  }
  /* 포스터 */
  #poster {
    width:20%;
  }
  /* 인포 */
  #info {
    margin-left:1rem;
  }
  /* 인포 폰트 */
  #info span, #info strong {
    font-size: .875rem;
  }
  /* 인포 상하간격 */
  #info ul li ~ li {
    margin-top:.875rem;
  }
  /* 인포 오른쪽영역 */
  #info strong {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width:768px) {
  /* 사이드메뉴 */
  #side-menu {
    transform: translateY(6rem);
  }
  /* 사이드메뉴 폰트 */
  #side-menu li a {
    font-size:1rem;
  }
  /* 이전, 다음 버튼 이미지 */
  #prev img, #next img {
    transform: translateY(.1875rem);
  }
}

@media screen and (max-width:480px) {
  /* 타이틀 */
  #title {
    margin-left:1rem;
  }
  /* 타이틀 폰트 */
  #title strong {
    font-size: 1rem;
  }
  /* 타이틀 닫기버튼 */
  #close a {
    width:100%;
    margin-left:1rem;
    transform: translateY(.2rem);
  }
  /* 슬라이드 li */
  #slide ul li {
    width:80vw;
    padding:0 10vw;
  }
  /* 사이드메뉴 */
  #side-menu {
    transform: translate(-50%,-50%);
    height: max-content;
    left: 50%;
    top: 10%;
    margin:0;
  }
  /* 사이드메뉴 ul */
  #side-menu ul {
    display: flex;
  }
  /* 사이드메뉴 li */
  #side-menu li {
    margin: 0 1rem;
  }
  /* 콘텐츠 영역 */
  #content {
    transform: translateY(15%);
  }
  /* 인포 상하간격 */
  #info ul li ~ li {
    margin-top:.5rem;
  }
  /* 포스터 */
  #poster {
    display: none;
  }
  /* 인포 폰트 */
  #info span, #info strong {
    font-size: .75rem;
  }
  /* 인포 왼쪽글씨영역 */
  #info span {
    width: 3.75rem;
  }
  /* 컨트롤러 */
  #controls {
    transform: translateX(-50%);
  }
  /* 이전, 다음 버튼 이미지 */
  #prev img, #next img {
    width:80%;
  }
}