body {
  background: url(../img/bg/intro.png) no-repeat 50% 50% / cover;
}
body.mobile {
  animation: mobile-bg 50s 3s infinite;
}
@keyframes mobile-bg {
  0% {
    background: url(../img/bg/index_mobile0.jpg) no-repeat 50% 50% / cover;
  }
  20% {
    background: url(../img/bg/index_mobile1.jpg) no-repeat 50% 50% / cover;
  }
  40% {
    background: url(../img/bg/index_mobile2.jpg) no-repeat 50% 50% / cover;
  }
  60% {
    background: url(../img/bg/index_mobile3.jpg) no-repeat 50% 50% / cover;
  }
  80% {
    background: url(../img/bg/index_mobile4.jpg) no-repeat 50% 50% / cover;
  }
  100% {
    background: url(../img/bg/index_mobile0.jpg) no-repeat 50% 50% / cover;
  }
}




/* ***메인섹션*** */
main {
  width:62.5rem;
  height:60rem;
  z-index: 98;
}




/* ***영화 비주얼*** */
/* 영화 스크린 같은 위, 아래 줄 */
#movie > * {
  background-color: #101010;
  width:100%;
  height:2.5rem;
}
/* 영화 배경 */
#movie-bg {
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #101010;
  pointer-events: none;
  z-index: 100;
}
/* 아랫줄 */
.over {
  left:0;
  top:0;
}
/* 아랫줄 */
.under {
  left:0;
  bottom:0;
}
/* 캐릭터 */
#character {
  width:100%;
  height:100%;
  left:0;
  top:0;
}
#ponyo {
  left: 35px;
  top: 520px;
  z-index: 1;
}
#cloud {
  left:0;
  top: -6px;
}
#porco {
  left: 69px;
  top: 127px;
  z-index: -1;
}
#haul {
  left: 379px;
  top: 283px;
  z-index: 1;
}
#mononoke {
  left: 617px;
  bottom: 60px;
}
#totoro {
  left: 842px;
  bottom: 60px;
  z-index: -1;
}
#kiki {
  left: 1285px;
  top: 228px;
}
#laputa {
  left: 802px;
  top: 13px;
}




/* ***뮤직플레이어*** */
#music-player {
  left:3rem;
  bottom:3rem;
  z-index: 0;
  filter: drop-shadow(0 .25rem .25rem rgba(0, 0, 0, 0.25));
}
/* 앨범아트 */
#album-art {
  width:5.125rem;
  height:5.125rem;
  border-radius: 50%;
  border: .375rem solid #F9FFFE;
  z-index: 98;
}
/* 앨범아트 이미지 */
#album-art img {
  height:100%;
  transform: translateX(-20%);
}
/* 음악정보 */
#music-info {
  width:22.5rem;
  height:3.5rem;
  left:3rem;
  bottom:3rem;
  transform: translateY(50%);
  background: #F9FFFE;
  z-index: 97;
  border-radius: 1.875rem;
}
/* 음악정보 텍스트 박스 */
#music-info #text {
  padding-left:3.5rem;
  transform: translateY(-.2rem);
}
/* 음악정보 제목 */
#music-info #text h1 {
  font-size:1rem;
  color:#474747;
}
/* 음악정보 작곡가 */
#music-info #text p {
  font-size: .75rem;
  color:#7c7c7c;
}
/* 플레이버튼 */
#play-button {
  width:1.625rem;
  height:1.625rem;
  background: url(../img/icon/icon_play.png) 50% 50% no-repeat;
  margin-left:2rem;
  cursor: pointer;
}
/* 재생구간 */
#play-line {
  width:16.875rem;
  height:.125rem;
  background: #F9FFFE;
  transform: translate(6rem, -.3rem);
}
/* 재생 컨트롤러 */
#play-control {
  width:2.5rem;
  height:2.5rem;
  left:5rem;
  bottom:-.75rem;
  z-index: 100;
}
/* 재생 컨트롤러 이미지 */
#play-control img {
  width:100%;
}




/* ***미디어쿼리 */
@media screen and (max-width:768px) {
  body {
    background: url(../img/bg/intro_tablet.png) no-repeat 50% 50% / cover;
  }
}

@media screen and (max-width:480px) {
  body {
    background: url(../img/bg/intro_mobile.png) no-repeat 50% 50% / cover;
  }
}