/* 바디 배경화면 */
body {
  background: url(../img/bg/howl050.jpg) no-repeat 50% 50% / cover;
}

/* ***사이드메뉴*** */
#side-menu {
  z-index: 99;
  width:max-content;
  transform: translateY(5rem);
  padding-left:3.625rem;
}
#side-menu a {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size:1.375rem;
  letter-spacing: -0.025rem;
  text-decoration: none;
}
#side-menu li:nth-child(1) a {
  color: #F9FFFE;
  text-decoration: underline;
}
#side-menu li:nth-child(2) {
  margin-top:1rem;
}
#side-menu li:nth-child(2) a {
  color: rgba(249, 255, 254, 0.6);
}



/* ***메인섹션*** */
#container {
  width:100%;
  height:41.25rem;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  z-index: 5;
}
main {
  width: 76.25rem;
  z-index: 98;
  padding-left:2rem;
}

/* 영화정보 */
#title-wrap {
  width:max-content;
  height:2.125rem;
}
#title-wrap strong {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: -0.025rem;
  color: #F9FFFE;
}
#title-wrap a {
  margin-left:1rem;
}
#content {
  margin-top:2.25rem;
}
#content #poster {
  width:28%;
}
#poster img {
  width:100%;
  min-width: 7.375rem;
}
#info {
  width:65%;
  margin-left:1.75rem;
}
#info ul {
  list-style-type: none;
}
#info ul li {
  white-space: nowrap;
}
#info ul li ~ li {
  margin-top:1rem;
}
#info span {
  display: inline-block;
  width:5.75rem;
  text-align: end;
  letter-spacing: -0.025em;
  color: rgba(249, 255, 254, 0.6);
  font-weight: 300;
}
#info strong {
  width:max-content;
  margin-left:3rem;
  letter-spacing: -0.025em;
  color: #F9FFFE;
  font-weight: 300;
}

/* ***미디어쿼리*** */

@media screen and (max-width:1460px) {
  /* ***메인*** */
  main {
    width:50rem;
  }
}

@media screen and (max-width:1050px) {
  /* ***메인*** */
  main {
    width:43.75rem;
  }
  #info ul li ~ li {
    margin-top:.725rem;
  }
  #info span {
    font-size:.875rem;
  }
  #info strong {
    font-size:.875rem;
  }
}

@media screen and (max-width:950px) {
  /* ***사이드메뉴*** */
  #side-menu {
    margin-top:4.5rem;
  }
  #side-menu a {
    font-size:1.25rem;
  }
  /* ***메인*** */
  main {
    width:37.5rem;
    margin-top:4.5rem;
  }
  #info {
    margin-left:.625rem;
  }
  #info ul li ~ li {
    margin-top:.5rem;
  }
  #info strong {
    margin-left:1.6rem;
  }
}

@media screen and (max-width:768px) {
  /* 로고 */
  #logo {
    width:13.75rem;
  }
  /* ***사이드메뉴*** */
  #side-menu a {
    font-size:1rem;
  }
  /* ***메인*** */
  main {
    width:31.25rem;
  }
  #container {
    padding: 0 3rem;
  }
  /* 타이틀 */
  #title-wrap strong {
    font-size: 1.5rem;
    letter-spacing: -0.025rem;
    color: #F9FFFE;
  }
  #info ul li ~ li {
    margin-top:.25rem;
  }
  /* 내용 폰트사이즈 */
  #info span {
    font-size:.75rem;
    width:4rem;
  }
  #info strong {
    margin-left:1.6rem;
    font-size: .75rem;
  }
}
