body {
  background: url(../img/bg/ghibli_background.jpg) no-repeat 50% 50% / cover;
}

/* ***메인섹션*** */
/* 컨테이너 */
#container {
  z-index: 98;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
/* 게시판 */
#board {
  width:62.5rem;
  height:100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#board::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/* 리스트 */
#board li {
  width:100%;
  height:8rem;
  border-radius: 1rem;
  background-color: rgba(240, 248, 255, .7);
  backdrop-filter: blur(5px);
  padding:.3rem;
  box-sizing: border-box;
  align-items: center;
}
/* 리스트간 상하 간격 */
#board li ~ li {
  margin-top:1rem;
}
/* 콘텐츠랩 */
.content-wrap {
  height:100%;
}
/* 썸네일 */
.thum-wrap {
  width:20%;
  height:90%;
  overflow: hidden;
}
.thum-wrap img {
  width:70%;
}
/* 텍스트 */
.text-wrap {
  width:70%;
  height:100%;
  margin-top:.5rem;
}
/* 콘텐츠 제목 */
.text-wrap h1 {
  width:80%;
  font-size: 1.125rem;
  font-weight: 500;
}
/* 콘텐츠 날짜 */
.text-wrap span {
  font-size:.875rem;
  font-weight: 300;
}
/* 콘텐츠 내용 */
.text-wrap p {
  font-size:.875rem;
  height:4.375rem;
  font-weight: 300;
  line-height: 1.6;
  margin-top:.25rem;
  text-indent: .875rem;
}
/* 더보기 */
.more {
  width:10%;
}
/* 더보기 이미지 */
.more img {
  width:2rem;
  cursor: pointer;
  z-index: 1;
}
.more img:nth-child(2) {
  display: none;
}
/* 더보기 호버 애니메이션 */
.more img:hover {
  animation: more .4s infinite alternate;
}
/* 더보기 배경 */
.more-bg {
  width:2rem;
  height:2rem;
  background-color: #109CEB;
  border-radius: 50%;
}
/* 더보기 애니메이션 */
@keyframes more {
  0% {
    transform: translateY(-.2125rem);
  }
  100% {
    transform: translateY(.2125rem);
  }
}




/* ***스크롤다운 아이콘*** */
#scroll {
  animation: scroll .3s infinite alternate;
  bottom:10%;
  left:50%;
}
/* 스크롤다운 애니메이션 */
@keyframes scroll {
  0% {
    transform:translate(-50%,6px);
  }
  100% {
    transform:translate(-50%,0);
  }
}




/* ***페이드인*** */
#movie-bg {
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #101010;
  z-index: 102;
  pointer-events: none;
}




/* ***캐릭터*** */
#character {
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index: -1;
  pointer-events: none;
}
#kiki {
  left: 120px;
  top: 40px;
  animation: kiki 1.2s infinite ease-in-out alternate;
}
/* 캐릭터 애니메이션 */
@keyframes kiki {
  0% {

  }
  50% {
    top: 20px;
    left:110px;
  }
  100% {
    top:50px;
    left:125px;
  }
}



@media screen and (max-width:1024px) {
  /* 게시판 */
  #board {
    width:40rem;
  }
}

@media screen and (max-width:768px) {
  /* 캐릭터 박스 */
  #kiki {
    left: 40px;
    top: 74px;
  }
  /* 캐릭터 애니메이션 */
  @keyframes kiki {
    0% {
    }
    100% {
      left: 60px;
      top: 56px;
    }
  }
  /* 캐릭터 이미지 */
  #kiki img {
    width:60%;
    height:60%;
  }
  /* 게시판 */
  #board {
    width:26rem;
  }
  /* 게시판 4n+1번째 li */
  #board li:nth-child(4n+1) {
    margin-top:1rem;
  }
  /* 게시판 1번째 li */
  #board li:nth-child(1) {
    margin-top:0;
  }
  /* 텍스트 */
  .text-wrap {
    width:65%;
  }
  /* 콘텐츠 제목 */
  .text-wrap h1 {
    width:70%;
    font-size: 1rem;
    font-weight: 500;
  }
  /* 콘텐츠 날짜 */
  .text-wrap span {
    font-size:.75rem;
    font-weight: 300;
  }
  /* 콘텐츠 내용 */
  .text-wrap p {
    font-size:.75rem;
    height:4.375rem;
    font-weight: 300;
    line-height: 1.4;
    margin-top:.25rem;
    text-indent: .875rem;
  }
  /* 더보기 박스 */
  .more {
    margin-left: .875rem;
  }
  /* 더보기 이미지 */
  .more img {
    width:1.2rem;
  }
  /* 더보기 배경 */
  .more-bg {
    width:1.5rem;
    height:1.5rem;
    background-color: #109CEB;
    border-radius: 50%;
  }
}


@media screen and (max-width:480px) {
  /* 컨테이너 */
  #container {
    transform: translate(-50%, -45%);
  }
  /* 게시판 */
  #board {
    width: 80%;
  }
  /* ***스크롤다운 아이콘*** */
  #scroll {
    bottom:7%;
  }
}