@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* display */
.flex {display:flex;}
.block {display:block;}
.inline-block {display:inline-block;}
.inline {display: inline;}
.none {display: none;}

/* position */
.relative {position: relative;}
.absolute {position: absolute;}

/* text */
.text-indent-9999 {text-indent: -9999em;}
.text-align-center {text-align: center;}
.text-align-jutify {text-align: justify;}
.ellipsis {text-overflow: ellipsis;}
.white-space-nowrap {white-space: nowrap;}

/* overfloww */
.hidden {overflow: hidden;}

/* flex */
.space-between {justify-content: space-between;}
.justify-content-center {justify-content: center;}
.justify-content-end {justify-content: end;}
.justify-self-center {justify-self: center;}
.flex-direction-column {flex-direction: column;}
.align-items-end {align-items: flex-end;}
.align-items-center {align-items: center;}
.align-self-start {align-self: flex-start;}
.flex-nowrap {flex-wrap: nowrap;}
.flex-wrap {flex-wrap: wrap;}

/* box-sizing */
.border-box {box-sizing: border-box;}


* {
  padding:0;
  margin:0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  justify-content: center;
  overflow: hidden;
  flex-wrap:wrap;
  color:#262626;
}

#container {
  width:100%;
  height:100%;
}

ul {
  list-style-type: none;
}




/* 미디어쿼리 */
@media screen and (max-width:1024px) {
  /* 뮤직플레이어 */
  #music-player {
    display: none;
  }
}

@media screen and (max-width:768px) {
  /* 햄버거 */
  #hamburger {
    width:2.125rem;
  }
  #hamburger img {
    width:100%;
  }
  /* 로고 */
  #logo {
    width:10.25rem;
  }
  #logo img {
    width:100%;
  }
  /* 메뉴 */
  #menu ul li a span {
    font-size:3rem;
  }
  #menu ul li {
    height:4rem;
  }
  /* 메뉴호버 */
  #menu ul li a:hover:before {
    left:-1.25rem;
    top:-1.25rem;
    background: url(../img/icon/menu_hover.png) no-repeat 50% 50% / 50%;
  }
  #menu ul li:nth-child(3) a:hover:before {
    left:-1.625rem;
  }
  #menu ul li:nth-child(4) a:hover:before {
    left:-.25rem;
  }
  #menu ul li:nth-child(5) a:hover:before {
    left:-1.875rem;
  }
  #menu ul li:nth-child(6) a:hover:before {
    left:-.5rem;
  }
}